#demo-area-02-light img {
  height: 200px;
  display: none;
}

#demo-area-02-light.on #demo-area-02-on {
  display: inline-block;
}

#demo-area-02-light.off #demo-area-02-off {
  display: inline-block;
}